.input {
  height: 50px;
  border: 1px solid #d3d4d7;
  border-radius: 8px;
  font-size: 16px;
  padding: 7px 20px;
  text-overflow: ellipsis;
}

.input-clearable {
  padding-right: 35px;
}

.clear-icon {
  position: absolute;
  top: 23px;
  right: 13px;
  cursor: pointer;
  transition: all 0.15s;
}
.clear-icon:focus,
.clear-icon:hover {
  transform: scale(113%);
}
